@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


/*fonts*/
:root
{
    --principal-font:"Poppins",sans-serif;
}

/*colors*/
:root
{
    --title-color: #3742fa;
    --font-color: #2f3542;
    --background-color:#ffffff;
    --secundary-color:#5352ed;
    --terciary-color:#dfe4ea;
}

*
{
    font-family: var(--principal-font);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

.nav-content
{
    display: flex;
    width: 100%;
    height: 5vh;
    min-height: 40px;
    position: fixed;
    background-color: var(--background-color);
    align-items: center;
    border-bottom: 3px solid var(--title-color);
    z-index: 10;
}

.nav-logo
{
    flex: 2;
    margin: 0px 0px 0px 15px;
    font-weight: bold;
    color:var(--title-color);
    cursor: default;
}

.nav-items
{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.nav-item
{
    padding: 10px;
    background-image: linear-gradient(to top right,#3742fa,#5352ed);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position:0% 100%;
    color:var(--font-color);
    text-decoration: none;
    transition: 0.25s ease;
}

.nav-item:hover
{
    background-size: 100% 100%;
    color:var(--background-color);
}

.main-content
{   
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.home-section,.about-section,.services-section,.contact-section
{
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-description
{
    display: flex;
    padding: 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: drop 3s ease;
}

.img-description p
{
    margin: 20px 0px 0px 0px;
    color: var(--font-color);
}

.img-description h3
{
    color: var(--title-color);
}

.img-content img
{
    width: 100%;
    height: auto;
}

.img-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 50%;
    min-width: 700px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    animation: drop 1.5s ease;
}

.profile-description
{
    display: flex;
    padding: 20px;
    margin-left: 150px;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: drop 3s ease;
}

.profile-description p
{
    margin: 15px 0px 0px 0px;
    color: var(--font-color);
}

.profile-description h3
{
    color: var(--title-color);
}

.img-perfil-content img
{
    width: 600px;
    height: auto;
}

.img-perfil-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 50%;
    min-width: 400px;
    max-width: 400px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    animation: drop 1.5s ease;
}

.services-section h3
{
    color:var(--background-color);
    padding: 20px;
    font-size: xx-large;
}


.services-section p
{
    color:#DDD;
    padding: 20px;
}

.services-section span
{
    position: relative;
    transform: translateX(150px);
    color: var(--title-color);
    background-image: linear-gradient(to top right,white,white);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position:100% 0%;
    transition: 0.25s ease;
    padding: 5px;
}

.services-items
{
    display: flex;
    width: 100%;
    list-style-type: none;
    margin: auto;
}

.service-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--title-color);
    overflow: hidden;
    border-radius:25px;
    padding: 20px;
    margin:0px 15px 0px 15px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}

.service-img-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--background-color);
    margin-top: 30px;
}

.service-img-content img
{
    width: 70%;
    height: auto;
}

.service-img-content,.service-img-content img,.services-section h3,.services-section p
{
    pointer-events: none;
}

.service-item
{
    cursor: pointer;
    transition: 0.25s ease;
}

.service-item:hover
{
    transform: translateY(-15px);
    box-shadow: 5px 15px 15px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 15px 15px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 15px 15px 5px rgba(0,0,0,0.4);
}

.service-item:hover span
{
    background-size: 100% 100%;
}

.contact-content
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--title-color);
    border-radius: 50px;
}

.social-side
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social-side i
{
    color:var(--background-color);
    font-size: 50px;
    padding: 20px;
    cursor: pointer;
    transition: 0.25s ease;
}

.social-side i:hover
{
    transform: scale(110%,110%);
}

.form-side
{
    flex: 2;
}

.form-side form
{
    width: 100%;
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-side form label
{
    color:var(--background-color);
    margin: 15px 0px 5px 0px;
}

.form-side form button
{
    margin: 15px 0px 5px 0px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid var(--background-color);
    color: var(--background-color);
    background-color: var(--title-color);
    font-size: 20px;
    transition: 0.25s ease;
}

.form-side form button:hover
{
    color: var(--title-color);
    background-color: var(--background-color);
    transform: scale(95%,95%);
}

.form-side form textarea
{
    outline: none;
    resize: none;
    overflow: auto;
}

.form-side form input
{
    width: 100%;
}

@keyframes drop
{
    0%
    {
        transform: translateY(-80px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}

footer
{
    display: flex;
    width: 100%;
    height: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--title-color);
    color:var(--background-color);
}


